body {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

ul.horizontal-list {
  display: flex;
  list-style: none;
  width: 100%;
}

ul.horizontal-list  li {
  padding: .5em 5px;
  border-right: 1px solid #CCC;
}

.text-highlight {
  display: inline;
  background-color: #2c3e50;
  border-radius: 10px;
  width: max-content;
  padding: 1px 10px 1px 10px;
  color: white;
}

.horizontal-text-key{
}
.horizontal-text-value{
  padding: 4px;
}

.col-title {
  margin-top: 10px;
  margin-bottom: 20px;
}

.label {
  font-weight: bold;
}

li {
  margin-bottom: 2px;
}

.video-js .vjs-big-play-button{
  font-size: 2em;
  border-radius: 5em;
}
.horizontal-list{
  margin: 0 0 0 10px;
}

.small-column{
  float: left;
  margin: 5px;
  padding: 5px;
  // width: 33.33%;
  border-radius: 5px;
  box-shadow: 4px 3px 8px 1px #969696;
  -webkit-box-shadow: 4px 3px 8px 1px #969696;
  background-color: white;

}

.col{
 // width: fit-content !important;
}


