h3 {
  margin: 40px 0 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

#wrapper {
  display: grid;
  grid-gap: 1rem;
  //background-color: #2c3e50;
  //padding: 10px 40px 10px 40px;

  .small-column{
    float: left;
    margin: 5px;
    padding: 5px;
   // width: 33.33%;
    border-radius: 5px;
    box-shadow: 4px 3px 8px 1px #969696;
    -webkit-box-shadow: 4px 3px 8px 1px #969696;
    background-color: white;


  }

  .small-column-grid{
    display: grid;
    float: left;
    // width: 33.33%;
    //border-radius: 5px;
    //box-shadow: 4px 3px 8px 1px #969696;
    //-webkit-box-shadow: 4px 3px 8px 1px #969696;
    //background-color: white;


  }

  .up {
    display: flex;

    #left {
     // background-color: aquamarine
    }

    #middle {
      //background-color: gray
    }

    #right {
      //padding-top: 5px;
      //background-color: red
    }

  }
  #down { background-color: bisque; max-width: 400px; max-height: 400px;
  }

}